<div class="main-content">
  <div class="section-content secton-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products-->
        <div *ngFor="let tempProduct of products" class="col-md-4">
          <div class="product-box">
            <a routerLink="/products/{{tempProduct.id}}">
              <img src="{{tempProduct.imageUrl}}" alt="img" class="img-responsive">
            </a>
            <a routerLink="/products/{{tempProduct.id}}">
              <h1>{{tempProduct.name}}</h1>
            </a>
            <div class="price">{{tempProduct.unitPrice | currency:'USD' }}</div>
            <a href="#" class="primary-btn add-cart-btn">Add to cart</a>
          </div>
        </div>
        <!-- if products empty then display a message -->

        <div *ngIf="products?.length == 0" class="alert alert-warning col-not-found" role="alert">
          No products found.
        </div>
      </div>
      <!--begin footer-->

      <div class="footer-pagination">

        <div>
          <ngb-pagination [(page)]="thePageNumber" [pageSize]="thePageSize" [collectionSize]="theTotalElements"
            [maxSize]="3" (pageChange)="getProductList()">
          </ngb-pagination>
        </div>

        <div class="page-size">
          <p>Page Size:</p>
          <select class=" form-select" #myPageSelect (change)="updatePageSize(myPageSelect.value)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>

      <!--end footer-->
    </div>
  </div>
</div>